@model Taller_Mecanico.API.Models.EditUsuarioViewModel


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Nombres" class="control-label"></label>
            <input asp-for="Nombres" class="form-control" />
            <span asp-validation-for="Nombres" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Apellidos" class="control-label"></label>
            <input asp-for="Apellidos" class="form-control">
            <span asp-validation-for="Apellidos" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TipoDocumentoId" class="control-label"></label>
            <select asp-for="TipoDocumentoId" asp-items="Model.TiposDocumentos" class="form-control"></select>
            <span asp-validation-for="TipoDocumentoId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Documento" class="control-label"></label>
            <input asp-for="Documento" class="form-control" />
            <span asp-validation-for="Documento" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Direccion" class="control-label"></label>
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImageFile" class="control-label"></label>
            <input asp-for="ImageFile" type="file" class="form-control" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
    </div>
</div>