@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Taller Mecánico</h1>
    <img src="~/Imagenes/taller-automotriz-en-queretaro-automotors-2.png" />
    
</div>
